body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #6141ac;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar a{
  text-decoration: none;
  color: #666666;

  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
}


.navbar a:hover{
  text-decoration: underline;

  color: rgb(199, 196, 196);
}

.home_text{
  text-align: center;

  font-size: 30px;
  font-weight: bold;
  color: #fdae77;
  text-shadow: 2px 2px #f33232;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.welc{
  text-align: center;
  text-decoration-style: solid;
  font-size: 50px;
  font-weight: bold;
  color: #fdae77;
  text-shadow: 2px 2px #f33232;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.content-section {
  /*background-image: linear-gradient(to right, #feaa66, #c68f9c, #9970cb, #c68f9c, #feaa66); }*/
  background-image: url("/static/image/bookImg.png");
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  padding: 10px 20px;
  /*border: 1px solid #dddddd;*/
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #6141ac;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #b07abe;
  color: white;
  font-size: 17px;
  border: 1px solid #6141ac;
  border-left: none;
  cursor: pointer;
}
form.search button:hover {
  background: #6141ac;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}
div.form-group-fields {
  /*color: #6141ac;*/
  color: #fdae77;
  text-shadow: 2px 2px #f33232;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  width: 50%;
  font-weight: bold;
  font-size: 125%;
}

.btn.btn-outline-info{
  color: #ffffff;
  width: 25%;
  border: #6141ac 1px solid;
}
.btn.btn-outline-info:hover,
.btn.btn-outline-info:focus,
.btn.btn-outline-info:active,
.btn.btn-outline-info.active {
  color: #ffffff;
  font-size: 15px;
  background-color: #6141ac;
  border-color: #6141ac;
}
.center {
  display: table;
  margin-left: auto;
  margin-right: auto;
  
}

.column{
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 2px;
}

.contentbox{
  box-sizing: content-box;
  width: 25%;
  height: auto;
  background-color: linear-gradient(to right, #feaa66, #c68f9c, #9970cb, #c68f9c, #feaa66);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  text-align: center;
}

.book{
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 6px 5px rgba(0,0,0,0.4),
               0px 10px 5px rgba(0,0,0,0.1),
               0px 20px 25px rgba(0,0,0,0.1);
  font-size: 150%;
  text-align: center;
}

.results{
    object-fit: contain;
    margin: 0px;
    width: 200%;
    height: 75%;
}