<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Contact -->

<body>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <section class="feature">
        <h1 class ="cont">Contact Us<h1>
        <div class="row">
            <div class="col-6 col-12-small">
                <section>
                    <h3 class="fa fa-linkedin-square"> LinkedIns </h3>
                    <p>
                        <a href="#">Miguel Jones</a><br/>
                        <a href="#" onclick="window.open('https://www.linkedin.com/in/alhassankoroma/')">Hassan Koroma</a><br/>
                        <a href="#" onclick="window.open('https://www.linkedin.com/in/wadi-ahmed/')"">Wadi Ahmed</a><br/>
                        <!-- <a href="#">Jenna Abdullah</a><br/> -->
                    </p>
                </section>
            </div>
            <div class="col-6 col-12-small">
                <section>
                    <h3 class="fa fa-book">References</h3>
                    <p>
                        <a href="#", onclick="window.open('https://github.com/dice43/textbooks')">Github Repo</a><br/>
                        <a href="#", onclick="window.open('https://dashboard.heroku.com/apps/student-xchange')">Heroku App</a><br/>
                        <a href="#", onclick="window.open('https://openlibrary.org/dev/docs/api/books')">Open Library API</a><br/>
                    </p>
                </section>
            </div>
            <div class="col-6 col-12-small">
                <section>
                    <h3 class="fa fa-envelope">Email</h3>
                    <p>
                        <a href="#">mjcoqui@gmail.com</a><br/>
                        <a href="#">alhassankoroma100@gmail.com</a><br/>
                        <a href="#">wadiahmed2@gmail.com</a><br/>
                        <!-- <a href="#">jennaabdullah2002@gmail.com</a> -->
                    </p>
                </section>
            </div>
            
        </div>
    </section>
</body>