{% extends "layout.html" %}
{% block content %}
<body>
    <style>
        /*body { background-image: linear-gradient(to right, #feaa66, #c68f9c, #9970cb, #c68f9c, #feaa66); }*/
        body{
          background-image: url("/static/image/bookImg.png");
          background-repeat: no-repeat; 
          background-attachment: fixed; 
          background-size: cover; 
        }
        h3{
          color: #fdae77;
          text-shadow: 2px 2px #f33232;
          text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        }
    </style>
    <h3>Enter your credentials to register</h3>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
     <div class="form-group-fields">
     {{ form.username.label(class="form-control-label") }}
     {% if form.username.errors %}
       {{ form.username(class="form-control form-control-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.username.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.username(class="form-control form-control-lg") }}
   {% endif %}
 </div>
         <div class="form-group-fields">
         {{ form.email.label(class="form-control-label") }}
         {% if form.email.errors %}
           {{ form.email(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.email.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.email(class="form-control form-control-lg") }}
       {% endif %}
     </div>
     <div class="form-group-fields">
         {{ form.password.label(class="form-control-label") }}
         {% if form.password.errors %}
           {{ form.password(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.password(class="form-control form-control-lg") }}
       {% endif %}
     </div>
     <div class="form-group-fields">
         {{ form.confirm_password.label(class="form-control-label") }}
         {% if form.confirm_password.errors %}
           {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.confirm_password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.confirm_password(class="form-control form-control-lg") }}
       {% endif %}
     </div>
 </fieldset>
            <div class="form-group">
             {{ form.submit(class="btn btn-outline-info") }}
          </div>
         </form>
     </div>
</body>
 {% endblock content %}